<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Fishing Diary</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bg-image d-flex justify-content-center align-items-center" style="
      background-image: url('https://s.hdnux.com/photos/01/11/21/72/19209900/3/1200x0.jpg');
      background-size: cover;
    ">




    <div class="container text-center">
        <h1> WELCOME IN FISH DIARY APP</h1>
        <h3> <a th:href="@{/register}">REGISTER</a> </h3>
        <h3> <a th:href="@{/login}">Login</a> </h3>
    </div>
    </div>
    <div>



</body>
</html>